.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.myprofile-managedoc{
  cursor: pointer;
  color: rgb(40, 100, 212);
}
button:hover{
  cursor: pointer;
}

/* styling for screen size of maximum 480px */
@media screen and (max-width:480px) {
  .component-managedoc{
    display: flex;
    flex-direction: column;
  }
}

input, button {
  margin: 5px 2px;
}