*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.root{
  --templateBackgroundColor:rgb(144,224,235);
}
.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}
.App-link {
  color: #61dafb;
}
.home, .login, .register{
  height: 20em;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  position: relative;
  top: 10em;
  bottom: 10em;
  padding: 0 4em;
}
.home .info, .login .info, .register .info, .login .welcome{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #61dafb8a;
  border-radius: 10px;
  flex-direction: column;
  height: 100%;
  width: 80%;
  padding: 1.4em;
}
.form h3{
  margin-bottom:.8em ;
}
.login .form, .register .form{
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(144,224,235);
  border-radius: 10px;
  padding: 1.4em;
  gap: 2px;
}
.login .form input, .register .form input{
  width: 100%;
  padding: 5px;
  border: 1px solid rgb(144,224,235);
  border-radius: 10px;
}
.login .form button, .register .form button{
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgb(144,224,235);
  background-color: var(--templateBackgroundColor);
  padding: 5px;
  color: white;
  font-weight: bold;
}
.myprofile-managedoc{
  cursor: pointer;
  color: rgb(4, 4, 68);
}
.login .form button:hover, .register .form button:hover{
  cursor: pointer;
  background-color:rgb(144,224,235);
  color: black;
}
.documentDashboard{
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.sidebar{
  height: 100%;
  min-width: 10em;
  background-color: #61dafb;
}
input, button {
  margin: 5px 2px;
}
.image-uploaded{
  max-width: 300px;
  max-height: 300px;
}
.infoImage{
  max-height: 400px;
  max-width: 250px;
}
/* styling for screen size of maximum 768px */
@media screen and (max-width:768px) {
  .home, .login, .register{
    flex-direction: column;
  }
  .documentDashboard{
    display: flex;
    flex-direction: column;
  }
  /* .infoImage{
    max-height: 150px;
    max-width: 100px;
  } */
  .home, .login, .register{
    padding: 0 1em;
  }
}

